TELEGRAM_BOT_TOKEN=your_token_here
TELEGRAM_API_BASE_URL=http://127.0.0.1:3001/
TELEGRAM_DEBUG=true
TELEGRAM_UPDATES_TIMEOUT=30

TELEGRAM_WEBHOOK_ENABLE=false
TELEGRAM_WEBHOOK_URL=https://your-domain.com/tg
TELEGRAM_WEBHOOK_PATH=/tg
SERVER_ADDRESS=:8088

GRPC_SERVER_ADDRESS=127.0.0.1:8081
GRPC_INSECURE=true

DATABASE_DRIVER=sqlite
DATABASE_DSN=file:./data/bot.sqlite?_foreign_keys=on

LOG_LEVEL=debug

METRICS_ENABLED=false
METRICS_ADDRESS=:9090


